main {
  padding-top: 1rem;
}

@media screen and (max-width: 1692px) {
  #nn_skinl, #nn_skinr {
    display: none;
  }
}

#nn_skinl, #nn_skinr {
  position: absolute !important;
  top: 0 !important;
  left: 50%;
  width: 336px;
  height: 970px;
  max-height: 99.5vh;
}

#nn_skinl {
  margin-left: -837px !important;
  text-align: right !important;
}

#nn_skinl > * {
  margin-left: auto !important;
  margin-right: 0 !important;
}

#nn_skinr {
  margin-left: 501px !important;
}

#nn_skinr > * {
  margin-left: 0 !important;
  margin-right: auto !important;
}

div[id*='celtra'] {
  color-scheme: initial;
}

#aniBox {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

#skin_wrapper {
  position: sticky;
  top: 0;
}

.ad-container {
  display: flex;
  justify-content: center;
}

.ad-container > * {
  align-content: center;
}

#celtra-skin-container-background {
  z-index: -1 !important;
}

body:not(:has(#celtra-skin-container-background)) .mpu-container {
  min-height: 280px;
}

body:not(:has(#celtra-skin-container-background)) .mobile-mpu-container {
  min-height: 600px;
}

@media screen and (min-width: 768px) {
  body:not(:has(#celtra-skin-container-background)) #lb1_wrapper, body:not(:has(#celtra-skin-container-background)) #lb3_wrapper {
    min-height: 90px;
  }
}

@media screen and (min-width: 900px) {
  body:not(:has(#celtra-skin-container-background)) #lb1_wrapper {
    height: 250px !important;
    min-height: 250px !important;
  }
}

div:has(> #nn_player1) {
  text-align: center;
  min-height: 250px;
}

#nn_mobile_mpu1 {
  min-height: 250px;
}

/*
div:has(iframe[name*="doctype"]) {
  display: none !important;
}
*/

@media screen and (max-width: 900px) {
  .ad__generic-container {
    z-index: 2147483647 !important;
  }
}
